<h1>Editor tests</h1>
<div id='Editor' contenteditable=true># Hello World!
  1. this is a list
  - this is **a** list
  3. this is [a](http://google.com) *list*. It's special, isn't **it**?
  test *boo* and them *some* or **some!!** a

  ![an](image)

  ~~~javascript
  var test = "hello"
  ~~~

  ## The final

  is real</div>
